.promo {
   min-height: 650px;
   padding: 21px 0 93px 0;
   background: url(../../Img/bg_main.jpg) center (center/cover) no-repeat;

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 90px;
   }

   &__header {
      font-weight: 700;
      font-size: 42px;
      line-height: 42px;
      color: #FFFFFF;
      text-transform: uppercase;
   }

   &__subheader {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #FFFFFF;
      margin-top: 17px;
      text-transform: uppercase;
   }

   &__icons {
      margin-top: 60px;
      width: 425px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__icon {
      width: 135px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      color: #FFFFFF;

      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
         width: 45px;
         height: 45px;
      }
   }

   &__link {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      margin-top: 10px;

      a {
         text-decoration-line: underline;
         text-transform: uppercase;
         color: #FFFFFF;
      }
   }
}